<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipMate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D874EFF81E70FE9D00C6918F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D874F00C1E70FE9D00C6918F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D874F0171E70FE9D00C6918F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
